* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
ul, ol{
    padding: 0;
}
li {
    list-style-type: none;
}
a, a:hover {
    color: #000;
    text-decoration: none;
}

body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Roboto'
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
}
/*Container del body*/
.body-container {
    max-width: 800px; 
    margin: 0 auto;
}

a, a:hover{
    color:#3D3D3D;
    font-weight: 600;
    font-size: 14px;
}

/*HEADER*/
/* Logo */
.header-logo{
    width: 29%;
}
.logo {
    width: 20%;
}

/*--- Barra del header ---*/
.header-home-barra {
    margin-right: 20px;
}
.header-barra {
    text-align: center;
    width: 33%;
}
.header-barra-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}
/* --- Iconos ---*/ 
.header-icons {
    text-align: center;
}

/* Cada icono en específico (ul) */
.header-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
}
img.search-icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
img.profile-icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
img.guardados-icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
img.notification-icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
img.carrito-icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
/*END OF HEADER*/

/*Login container*/
.login-container {
 color: #3D3D3D ;
 width: 100%;
 height: 100%;
 flex-direction: column;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin-top: 10%;
}

/*Titulo del Login*/
.title-of-login {
    color: #3D3D3D ;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #707070; 
    padding: 7px;
}
/*Llenar campos*/
.uk-input {
    width: 250px;
    border: #FF9F0D 2px solid;
    border-radius: 3px;
    margin: 5px 0;
    padding: 7px;
}
.uk-input:focus {
    border-color: #FF9F0D;
}


/*Olvido su contraseña?*/
.forget-pass {
    font-size: 12px;
}
.forget-pass:hover {
    font-size: 12px;
}

/*Hipervinculo*/
.hipervinculo:hover {
    color: #FF9F0D;
    padding: 4px;
}
.hipervinculo {
    font-weight: inherit;
}

/*Boton de iniciar sesion*/
.boton-iniciar {
    margin: 10px;
    background-color: #FF9F0D;
    color: white;
    width: 145px;
    height: 47px;
    border-radius: 50px;
    font-weight: bold;
}

/*--- Naranja deco ---*/
    
img.naranja{
    width: 7%;
    position: absolute;
    left: 93.5%;
    top: 60%;
}


/*FOOTER*/
/*Main del footer*/
.all-footer {
    position: fixed;
    bottom: 0;

}
.list-main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
}
.footer-item{
    margin-right: 20px;
}

/*Iconos de redes sociales*/
.list-icons-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.icon-twitter
{
    width: 25px;
    height: 25px;
    margin: 5px;
    padding: 5px;
}
.icon-instagram {
    width: 25px;
    height: 25px;
    margin: 5px;
    padding: 5px;
}
.icon-facebook {
    width: 25px;
    height: 25px;
    margin: 5px;
    padding: 5px;
}
/*END OF FOOTER*/