/*--- INDEX CSS ---*/

/*--- Seteos básicos ---*/
* {
    box-sizing: border-box;
}
ul, ol{
    padding: 0;
}
li {
    list-style-type: none;
}
a, a:hover {
    color: #000;
    text-decoration: none;
}


/*HEADER*/
.header-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
}

a, a:hover{
    color:#3D3D3D;
    font-weight: 600;
    font-size: 14px;
}
/*---------------*/

.row.header-container{
    max-width: 800px; 
    margin: 0 auto;
}
/* Logo Header */
.header-logo{
    width: 29%;
    margin-top: 30px;
    margin-left: 85px;
}
.logo {
    width: 15%;
}

/*--- Barra del header ---*/
.header-home-barra {
    margin-right: 20px;
}
.header-barra {
    text-align: center;
    width: 33%;
    margin-top: 50px;
}
.header-barra-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    
}
/* --- Iconos del header ---*/ 
.header-icons {
    text-align: center;
   
}

/* Cada icono en específico (ul) */
.header-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
}
img.search-icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
img.profile-icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
img.guardados-icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
img.notification-icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
img.carrito-icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
/*END OF HEADER*/

/*--- BODY ---*/

body{
    font-family: 'Roboto'
}

/*Caja del producto*/
.uk-width-1-2\@m{
    margin-left: 27%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.uk-button-default {
    background-color: #FF9F0D;
    color: white;
    border-radius: 50px;
    border: 0px

}

div.iconos{
    display: flex;
    justify-content: flex-end;
}

h4.precio {
    font-size: 40px;
    line-height: 0;
    display: flex;
    justify-content: center;
}

/*Comentarios*/
.uk-comment{
    margin-left: 27%;
    margin-bottom: 5%;
}
 
.uk-heading-divider{
    display: flex;
    justify-content: center;
}
.uk-h1, h1{
    font-size: 17px;
    font-weight: bold;
}

/*--- Naranja deco ---*/
img.naranja{
    width: 7%;
    position: absolute;
    left: 93.5%;
    top: 60%;
}

/*--- END OF BODY ---*/


/*FOOTER*/

/*Main del footer*/
.all-footer {
    bottom: 0;
}
.list-main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
}
.footer-item{
    margin-right: 20px;
}

/*Iconos de redes sociales*/
.list-icons-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.icon-twitter
{
    width: 25px;
    height: 25px;
    margin: 5px;
    padding: 5px;
}
.icon-instagram {
    width: 25px;
    height: 25px;
    margin: 5px;
    padding: 5px;
}
.icon-facebook {
    width: 25px;
    height: 25px;
    margin: 5px;
    padding: 5px;
}
/*END OF FOOTER*/