<!-- PARTIAL FOOTER -->
<footer>
    <div class="all-footer">
    <div class="footer-icons">
            <ul class="list-icons-container">
                
                <li><a href="https://twitter.com/"><img src="/img/twitter.png" alt="" class="icon-twitter"></a></li>
                
                <li><a href="https://www.instagram.com/"><img src="/img/instagram.png" alt="" class="icon-instagram"></a></li>

                <li><a href="https://www.facebook.com/"><img src="/img/facebook.png" alt="" class="icon-facebook"></a></li>

            </ul>
    </div> 
    <div class="main-footer">
            <ul class="list-main-container">
                <li><a href="#"><i class="footer-item contact"></i>CONTACTO  |</a></li>
                <li><a href="#"><i class="footer-item terms-cond"></i>TÉRMINOS Y CONDICIONES  |  </a></li>
                <li><a href="#"><i class="footer-item cookies"></i>COOKIES  |  </a></li>
                <li><a href="#"><i class="footer-item shipping-policy"></i>POLÍTICA DE ENVÍO  |  </a></li>
                <li><a href="#"><i class="footer-item privacy-policy"></i>POLÍTICA DE PRIVACIDAD</a></li>
            </ul>
    </div>
</div>
</footer>
<!-- END OF PARTIAL FOOTER -->