<!-- PARTIAL HEADER -->
<header">
    <div class="row header-container">
        <!-- Logo -->
        <div class="logo-container">
            <a href="/"><img id="logo" src="/img/LogoC.png" alt="logo"></a>
        </div>

        <!-- Home y Que cocinan cerca -->
        <div class="header-barra">
            <a id="Home" href="/home">HOME</a>
            <a href="/home">QUIEN COCINA CERCA</a>
        </div>
        <!-- <ul>
            <li><a href="">ICONO</a></li>
            <li><a href="">ICONO</a></li>
            <li><a href="">ICONO</a></li>
            <li>
                <form action="">
                    <button><a href="">ICONO</a></button>
                </form>
            </li>
        </ul> -->
        <!-- Icons -->
        <div class="header-icons">
            <!-- si hay un usuario en sesssion, se muestra lo siguiente: -->
            <% if (locals.user) { %> 
            <ul>
                <li><a class="icons" href="/buscador" uk-icon="search"></a></li>
                <li><a class="icons" href="/guardado" uk-icon="heart"></a></li>
                <!-- <li><a class="icons" href="/producto/create" uk-icon="plus-circle"></a></li> -->
                <li><a class="icons" href="/carrito" uk-icon="cart"></a></li>
                <li>
                    <form action="/users/logout" method="POST">
                        <button id="cerrarSesion" type="submit">
                            <a href="" uk-icon="close"></a>
                        </button>
                    </form>
                </li>
                </ul>
            
            <!-- si no hay un usuario guardado en session, se muestra lo siguiente: -->
            <% }else { %>
            <ul>
            <li><a class="icons" href="/buscador" uk-icon="search"></a></li>

            <li><a class="icons" href="/users/login" uk-icon="user"></a></li>

            <li><a class="icons" href="/users/login" uk-icon="heart"></a></li>

            <li><a class="icons" href="/users/login" uk-icon="cart"></a></li>
            </ul>
            <% } %>
            
        </div>
        </div>
    </div>
    </header>
<!-- END OF PARTIAL HEADER -->