<!-- PARTIAL HEADER -->
<header class="main-header">
    <div class="row header-container">
        <!-- Logo -->
        <div class="header-logo">
            <a href="/"><img class="logo" src="/img/LogoC.png" alt=""></a>
        </div>

        <!-- Home y Que cocinan cerca -->
        <div class="header-barra">
            <ul class="header-barra-container">
                <li class="header-home-barra"><a href="/home">HOME</a></li>
                <li><a href="/home">QUE COCINAN CERCA</a></li>
            </ul>
        </div>

        <!-- Icons -->
        <div class="header-icons"></div>
        <ul class="header-icons-container">
            <li><a href=""><img src="/img/search.png" alt="" class="search-icon"></a></li>

            <li><a href="/users/register"><img src="/img/profile.png" alt="" class="profile-icon"></a></li>

            <li><a href=""><img src="/img/bell.png" alt="" class="notification-icon"></a></li>

            <li><a href="/users/login"><img src="/img/cart.png" alt="" class="carrito-icon"></a></li>

            <li><a href="/users/login"><img src="/img/save.png" alt="" class="guardados-icon"></a></li>
        </ul>
    </div>
    </header>
<!-- END OF PARTIAL HEADER -->