<!-- REGISTRO DE NUEVOS USUARIOS -->

<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<!-- /HEAD -->

<!-- PARTIAL HEAD -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- OUR STYLES SHEET -->
    <link rel="stylesheet" href="/css/registerStyles.css">

    <!--  link a la tipografia-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <title>Registro</title>
</head>
<!-- END OF PARTIAL HEAD -->



<body>
    <div class="body-container">
        <!-- PARTIAL HEADER -->
        <header class="main-header">
            <div class="row header-container">
                <!-- Logo -->
                <div class="header-logo">
                    <a href=""><img class="logo" src="./ComoEnCasa/public/css/img/LogoC.png" alt=""></a>
                </div>

                <!-- Home y Que cocinan cerca -->
                <div class="header-barra">
                    <ul class="header-barra-container">
                        <li class="header-home-barra"><a href="#">HOME</a></li>
                        <li><a href="#">QUE COCINAN CERCA</a></li>
                    </ul>
                </div>

                <!-- Icons -->
                <div class="header-icons"></div>
                <ul class="header-icons-container">
                    <li><a href=""><img src="./ComoEnCasa/public/css/img/search.png" alt="" class="search-icon"></a>
                    </li>

                    <li><a href=""><img src="./ComoEnCasa/public/css/img/profile.png" alt="" class="profile-icon"></a>
                    </li>

                    <li><a href=""><img src="./ComoEnCasa/public/css/img/bell.png" alt="" class="notification-icon"></a>
                    </li>

                    <li><a href=""><img src="./ComoEnCasa/public/css/img/cart.png" alt="" class="carrito-icon"></a></li>

                    <li><a href=""><img src="./ComoEnCasa/public/css/img/save.png" alt="" class="guardados-icon"></a>
                    </li>
                </ul>
            </div>
        </header>
        <!-- END OF PARTIAL HEADER -->


        <!-- INDEX BODY -->

        <!-- ESTE ES EL FORM DE UI KIT, PARA USARLO HAY QUE TENER LOS TAGS DE CSS Y JS PEGADOS -->


        <form action="/register" method="POST" enctype="multipart/form-data" class="register-container">
            <h1 class="title-of-register">COMO EN CASA</h1>
            <div class="uk-margin">
                <!-- nombre -->
                <label class="uk-form-label" for="form-stacked-text"></label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" placeholder="Nombre" type="text" name="name">
                </div>
                <!-- apellido -->
                <label class="uk-form-label" for="form-stacked-text"></label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" placeholder="Apellido" type="text" name="lastname">
                </div>
                <!-- email -->
                <label class="uk-form-label" for="form-stacked-text"></label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" placeholder="Email" type="email" name="email">
                </div>
                <!-- password -->
                <label class="uk-form-label" for="form-stacked-text"></label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="exampleInputPassword1" placeholder="Contraseña" type="password"
                        name="password">
                </div>
                <!-- direccion -->
                <label class="uk-form-label" for="form-stacked-select"></label>
                <div class="uk-form-controls">
                    <select class="options-register" id="form-stacked-select">
                        <option> Localidad </option>
                        <option>Poner opciones de localidades etc</option>

                    </select>
                </div>
                <!-- genero -->
                <div class="uk-margin">
                    <div class="uk-form-label"></div>
                    <div class="uk-form-controls">
                        <select class="options-register" id="form-stacked-select" name="genero">
                            <option>Genero </option>
                            <option value="hombre">Hombre</option>
                            <option value="mujer">Mujer</option>
                            <option value="nimporta">¿Importa?</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="boton-registrarse">Registrarse</button>
                <p>Al registrarse acepta nuestros terminos. <br> Politica de datos y de cookies.</p><br>
            </div>
        </form>

        <!-- Naranja decoración -->
        <img src="./ComoEnCasa/public/css/img/naranja.jpg" alt="" class="naranja">


        <!-- /INDEX BODY -->

        <!-- PARTIAL JAVASCRIPT -->
        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
        <!-- /PARTIAL JAVASCRIPT -->


        <!-- PARTIAL FOOTER -->
        <footer>
            <div class="all-footer">
                <div class="footer-icons">
                    <ul class="list-icons-container">

                        <li><a href="https://twitter.com/"><img src="./ComoEnCasa/public/css/img/twitter.png" alt=""
                                    class="icon-twitter"></a></li>

                        <li><a href="https://www.instagram.com/"><img src="./ComoEnCasa/public/css/img/instagram.png"
                                    alt="" class="icon-instagram"></a></li>

                        <li><a href="https://www.facebook.com/"><img src="./ComoEnCasa/public/css/img/facebook.png"
                                    alt="" class="icon-facebook"></a></li>

                    </ul>
                </div>
                <div class="main-footer">
                    <ul class="list-main-container">
                        <li><a href="#"><i class="footer-item contact"></i>CONTACTO |</a></li>
                        <li><a href="#"><i class="footer-item terms-cond"></i>TÉRMINOS Y CONDICIONES | </a></li>
                        <li><a href="#"><i class="footer-item cookies"></i>COOKIES | </a></li>
                        <li><a href="#"><i class="footer-item shipping-policy"></i>POLÍTICA DE ENVÍO | </a></li>
                        <li><a href="#"><i class="footer-item privacy-policy"></i>POLÍTICA DE PRIVACIDAD</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- END OF PARTIAL FOOTER -->
    </div>
</body>

</html>