<h1><%= message %></h1>
<h2><%= error.status %></h2>

<a href="/home"><button style="
    background-color: #FF9F0D;
    color: white;
    border-radius: 50px;
    border: transparent;
    width: 250px;
    height: 50px;">VOLVER</button></a>