<!DOCTYPE html>
<html lang="en">

<!-- PARTIAL HEAD -->
<%- include('./partials/head', {title: 'Favoritos', css: 'guardadoStyles.css'})%>
<!-- END OF PARTIAL HEAD -->

<body>
<div class="body-container">
<!-- PARTIAL HEADER -->
<%- include('./partials/header')%>
<!-- /PARTIAL HEADER -->

    <!--BODY HOME -->
<!-- Inicio Guardados -->

        <h1 class="uk-heading-divider">CHEFS FAVORITOS</h1>
            <ul uk-tab>
                <li><a href="#">GUARDADOS</a></li>
            </ul>
                    <div>
                         <% if(favorites.length != 0) { %>
                        <!-- GUARDADOS productos (los cuadraditos)-->
                         <% favorites.forEach(favorite => { %>
                        <div>
                            <p class="product-detail-price">
                                @ <%= favorite.followed.name %>
                            </p>
                        </div>
                        <% }) %>
                        <% } else { %>
                        <div class=>
                            <h2 class="products-title" >Aún no tienes chefs favoritos</h2>
                        </div>
                        <% } %>
                    </div>

<div>

<!-- Fin Guardados-->

<!-- Naranja decoración -->
 <img src="/img/naranja.jpg" alt="" class="naranja">

   
    <!-- END INDEX BODY -->

<!-- PARTIAL FOOTER -->
<%- include('./partials/footer')%>
<!-- END OF PARTIAL FOOTER -->

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
</body>

</html>