<!DOCTYPE html>
<html lang="en">

<!-- PARTIAL HEAD -->
<%- include('./partials/head', {title: 'Guardados', css: 'guardadoStyles.css'})%>
<!-- END OF PARTIAL HEAD -->

<body>
<div class="body-container">
<!-- PARTIAL HEADER -->
<%- include('./partials/header')%>
<!-- /PARTIAL HEADER -->

    <!--BODY HOME -->
<!-- Inicio Guardados -->

<h1 class="uk-heading-divider">Chefs Guardados</h1>
<ul uk-tab>
    <li><a href="#">GUARDADOS</a></li>
    <!-- <li><a href="#">FAVORITOS</a></li>
    <li><a href="#">RECIENTEMENTE VISTOS</a></li> -->
</ul>

<ul class="uk-switcher uk-margin">
    <!-- GUARDADOS productos (los cuadraditos)-->
    
    <li><div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: true">
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 100px"><a href="#"><img src="/img/breakfast.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 100px"><a href="#"><img src="/img/breakfast.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 100px"><a href="#"><img src="/img/breakfast.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 100px"><a href="#"><img src="/img/breakfast.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 100px"><a href="#"><img src="/img/breakfast.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 100px"><a href="#"><img src="/img/breakfast.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 100px"><a href="#"><img src="/img/breakfast.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 100px"><a href="#"><img src="/img/breakfast.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 100px"><a href="#"><img src="/img/breakfast.jpg" alt="" class="imagen-producto"></a></div>
        </div>
    </div></li>

     <!-- FAVORITOS productos (los cuadraditos)-->
<!-- 
    <li><div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: true">
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 100px"><a href="#"><img src="/img/almuerzo.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 130px"><a href="#"><img src="/img/almuerzo.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 150px"><a href="#"><img src="/img/almuerzo.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 160px"><a href="#"><img src="/img/almuerzo.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 120px"><a href="#"><img src="/img/almuerzo.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 140px"><a href="#"><img src="/img/almuerzo.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 200px"><a href="#"><img src="/img/almuerzo.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 180px"><a href="#"><img src="/img/almuerzo.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 140px"><a href="#"><img src="/img/almuerzo.jpg" alt="" class="imagen-producto"></a></div>
        </div>
    </div></li> -->

     <!-- RECIENTEMENTE VISTOS productos (los cuadraditos)-->
<!-- 
     <li><div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: true">
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 100px"><a href="#"><img src="/img/merienda.jpg" alt="" class="imagen-producto"></a>
                </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 130px"><a href="#"><img src="/img/merienda.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 150px"><a href="#"><img src="/img/merienda.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 160px"><a href="#"><img src="/img/merienda.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 120px"><a href="#"><img src="/img/merienda.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 140px"><a href="#"><img src="/img/merienda.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 200px"><a href="#"><img src="/img/merienda.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 180px"><a href="#"><img src="/img/merienda.jpg" alt="" class="imagen-producto"></a></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 140px"><a href="#"><img src="/img/merienda.jpg" alt="" class="imagen-producto"></a></div>
        </div>
    </div></li>
</ul>      -->


<!-- Fin Guardados-->

<!-- Naranja decoración -->
 <img src="/img/naranja.jpg" alt="" class="naranja">

   
    <!-- END INDEX BODY -->

<!-- PARTIAL FOOTER -->
<%- include('./partials/footer')%>
<!-- END OF PARTIAL FOOTER -->

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
</body>

</html>