<!DOCTYPE html>
<html lang="en">

<!-- PARTIAL HEAD -->
<%- include('./partials/head', {title: 'Home', css: 'homeStyles.css'})%>

<!-- END OF PARTIAL HEAD -->

<body>
<div class="body-container">
<!-- PARTIAL HEADER -->
<%- include('./partials/header')%>
<!-- /PARTIAL HEADER -->

    <!--BODY HOME -->

    <!-- Carrousel Home 1-->
<% if (locals.user) {  %>
<h1 class="title-of-home"> Hola <%= locals.user.name %> !</h1>
    <% } else {  %>
        <h1 class="title-of-home">COMO EN CASA</h1> 

    <% } %>
    
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

        <ul class="uk-slider-items uk-grid">
            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img src="/img/Promo.jpg" alt="">
                    <div class="uk-position-center uk-panel"><h1>1</h1></div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img src="/img/Promo.jpg" alt=" alt=">
                    <div class="uk-position-center uk-panel"><h1>2</h1></div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img src="/img/Promo.jpg" alt="">
                    <div class="uk-position-center uk-panel"><h1>3</h1></div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img src="/img/Promo.jpg" alt="">
                    <div class="uk-position-center uk-panel"><h1>4</h1></div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img src="/img/Promo.jpg" alt="">
                    <div class="uk-position-center uk-panel"><h1>5</h1></div>
                </div>
            </li>
        </ul>
    
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    
    </div>

    <!-- Navegacion de categorias -->

    
     <nav class="nav-categorias">
            <ul class="cuatro-circulos">
                <li><a href="/categoria/1"><img src="" alt="" class="circulo-categ">DESAYUNO</a></li>
        
                <li><a href="/categoria/2"><img src="" alt="" class="circulo-categ">ALMUERZO</a></li>
        
                <li><a href="/categoria/3"><img src="" alt="" class="circulo-categ">MERIENDA</a></li>
        
                <li><a href="/categoria/4"><img src="" alt="" class="circulo-categ">CENA</a></li>
            </ul>
        </nav>

    <!-- Banner Home 2-->
    <div class="banner-home">
    <h1 class="texto-banner2">"Queremos que comas como en casa, al mejor precio y la comida más rica"</h1>
    </div>
   
 <!-- Naranja decoración -->
 <img src="/img/naranja.jpg" alt="" class="naranja">
 <img src="/img/naranja.jpg" alt="" class="naranjax">



    <!-- END INDEX BODY -->

<!-- PARTIAL FOOTER -->
<%- include('./partials/footer')%>
<!-- END OF PARTIAL FOOTER -->

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
</body>

</html>