<!DOCTYPE html>
<html lang="en">

<!-- PARTIAL HEAD -->
<%- include('./partials/head')%>
<!-- END OF PARTIAL HEAD -->

<body>
<div class="body-container">
<!-- PARTIAL HEADER -->
<%- include('./partials/header')%>
<!-- /PARTIAL HEADER -->

    <!--BODY HOME -->

    <!-- Banner Home 1 -->
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

        <ul class="uk-slideshow-items">
            <li>
                <img src="images/photo.jpg" alt="" uk-cover>
            </li>
            <li>
                <img src="images/dark.jpg" alt="" uk-cover>
            </li>
            <li>
                <img src="images/light.jpg" alt="" uk-cover>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slideshow-item="next"></a>

    </div>
    <!-- /Banner Home 1-->

    <!-- Navegacion de categorias -->
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

        <ul class="uk-slider-items uk-grid uk-grid-match" uk-height-viewport="offset-top: true; offset-bottom: 30">
            <li class="uk-width-3-4">
                <div class="uk-cover-container">
                    <img src="images/photo.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-panel">
                        <h1>1</h1>
                    </div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-cover-container">
                    <img src="images/dark.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-panel">
                        <h1>2</h1>
                    </div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-cover-container">
                    <img src="images/light.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-panel">
                        <h1>3</h1>
                    </div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-cover-container">
                    <img src="images/photo2.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-panel">
                        <h1>4</h1>
                    </div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-cover-container">
                    <img src="images/photo3.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-panel">
                        <h1>5</h1>
                    </div>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slider-item="next"></a>

    </div>


    <!--<nav class="nav-categorias">
            <ul class="cuatro-circulos">
                <li><a href="#DESAYUNO"><img src="" alt="" class="circulo-categ">DESAYUNO</a></li>
        
                <li><a href="#ALMUERZO"><img src="" alt="" class="circulo-categ">ALMUERZO</a></li>
        
                <li><a href="#MERIENDA"><img src="" alt="" class="circulo-categ">MERIENDA</a></li>
        
                <li><a href="#CENA"><img src="" alt="" class="circulo-categ">CENA</a></li>
            </ul>
        </nav>
 -->
    <!-- Banner Home 2-->
    <div class="banner-home">
        <h1 class="texto-banner2">"Queremos que comas como en casa, al mejor precio y la comida más rica"</h1>
    </div>
    <!-- /Banner Home 2-->

    <!-- Naranja decoración -->
    <img src="/img/naranja.jpg" alt="" class="naranja">

    <!-- END INDEX BODY -->

<!-- PARTIAL FOOTER -->
<%- include('./partials/footer')%>
<!-- END OF PARTIAL FOOTER -->

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
</body>

</html>