<!-- El index es la página a donde llegan los usuarios. la que tiene el logo y la frase "comé como en casa" -->

<!DOCTYPE html>
<html lang="en">

<!-- PARTIAL HEAD -->
<%- include('./partials/head')%>
<!--  link a css-->
<link href="/css/indexStyles.css" rel="stylesheet">
<title> Como en Casa </title>
<!-- END OF PARTIAL HEAD -->

<body>
  <div class="body-container">
<!-- PARTIAL HEADER -->
<%- include('./partials/header')%>
<!-- END OF PARTIAL HEADER -->


    <!-- INDEX BODY -->
    <div class="texto-index">
      <h1>COMÉ<br>COMO EN CASA</h1>
  </div>
  <div class="welcome">
  <h2>Comida casera, rica, a tan <br>solo pasos de tu casa...</h2>
  </div>
  
  <p uk-margin>
  <button class="uk-button uk-button-default uk-button-large"><a href="#"></a>Comenzar</button> </p>
  
  <!-- Hojas decoración -->
  <img src="/img/hojas.jpg" alt="" class="hojas">
  
      <!-- Naranja decoración -->
      <img src="/img/naranja.jpg" alt="" class="naranja">
  
     

    <!-- END INDEX BODY -->

<!-- PARTIAL FOOTER -->
<%- include('./partials/footer')%>
<!-- END OF PARTIAL FOOTER -->

    
  </div>
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
</body>

</html>