<!-- REGISTRO DE NUEVOS USUARIOS -->

<!DOCTYPE html>
<html lang="en">

<!-- PARTIAL HEAD -->
<%- include('./partials/head')%>
<!-- END OF PARTIAL HEAD -->

<body>
    <div class="body-container">
<!-- PARTIAL HEADER -->
<%- include('./partials/header')%>
<!-- END OF PARTIAL HEADER -->

        <!-- INDEX BODY -->

        <!-- ESTE ES EL FORM DE UI KIT, PARA USARLO HAY QUE TENER LOS TAGS DE CSS Y JS PEGADOS -->


        <form action="/register" method="POST" class="register-container">
            <h1 class="title-of-register">COMO EN CASA</h1>
            <div class="uk-margin">
                <!-- nombre -->
                <label class="uk-form-label" for="form-stacked-text"></label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" placeholder="Nombre" type="text" name="name">
                </div>
                <!-- apellido -->
                <label class="uk-form-label" for="form-stacked-text"></label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" placeholder="Apellido" type="text" name="lastname">
                </div>
                <!-- email -->
                <label class="uk-form-label" for="form-stacked-text"></label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" placeholder="Email" type="email" name="email">
                </div>
                <!-- password -->
                <label class="uk-form-label" for="form-stacked-text"></label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="exampleInputPassword1" placeholder="Contraseña" type="password"
                        name="password">
                </div>
                <!-- direccion -->
                <label class="uk-form-label" for="form-stacked-select"></label>
                <div class="uk-form-controls">
                    <select class="options-register" id="form-stacked-select">
                        <option> Localidad </option>
                        <option>Poner opciones de localidades etc</option>

                    </select>
                </div>
                <!-- genero -->
                <div class="uk-margin">
                    <div class="uk-form-label"></div>
                    <div class="uk-form-controls">
                        <select class="options-register" id="form-stacked-select" name="genero">
                            <option>Genero </option>
                            <option value="hombre">Hombre</option>
                            <option value="mujer">Mujer</option>
                            <option value="nimporta">¿Importa?</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="boton-registrarse">Registrarse</button>
                <p>Al registrarse acepta nuestros terminos. <br> Politica de datos y de cookies.</p><br>
            </div>
        </form>

        <!-- Naranja decoración -->
        <img src="./ComoEnCasa/public/css/img/naranja.jpg" alt="" class="naranja">


        <!-- /INDEX BODY -->

        <!-- PARTIAL JAVASCRIPT -->
        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
        <!-- /PARTIAL JAVASCRIPT -->


<!-- PARTIAL FOOTER -->
<%- include('./partials/footer')%>
<!-- END OF PARTIAL FOOTER -->
    </div>
</body>

</html>